<h1>SeatYourself</h1>
<h2>Please select a category:</h2>

<%- @restaurant.each do |restaurant| %>
	<div class ="restaurant-block">
		<h3><%= link_to restaurant.name, restaurant%></h3>
		<h4>Location</h4>
			<p>
				<strong>City:</strong> <%= restaurant.city %><br>
				<strong>Address:</strong> <%= restaurant.street_address %><br>
				<strong>District:</strong> <%= restaurant.district %>
			</p>
		<h4>About <% restaurant.name %></h4>
			<p>
				<strong>Food Category:</strong> <%= restaurant.categories.map {|category| category.name}.join(", ") %><br>
				<strong>Total Tables:</strong> <%= restaurant.tables %><br>
				<strong>Description:</strong> <%= restaurant.description %>
			</p>
	</div>
<% end %>


