<% if current_user == @restaurant.manager %>
<h1>Manage <%= @restaurant.name %></h1>
<% else %>
<h1><%= @restaurant.name %></h1>
<% end %> 

<p class="notice"><%= notice %></p>

<div class="info">
	<h3>Location</h3>
	<p>
		<strong>City:</strong> <%= @restaurant.city %><br>
		<strong>Address:</strong> <%= @restaurant.street_address %><br>
		<strong>District:</strong> <%= @restaurant.district %>
	</p>
	<h3>About <% @restaurant.name %></h3>
	<p>
		<strong>Food Category:</strong> <br>
		<strong>Total Tables:</strong> <%= @restaurant.tables %><br>
		<strong>Description:</strong> <%= @restaurant.description %>
	</p>
</div>

<%= render "reservation" if current_user %>

<% if current_user == @restaurant.manager %>
<%= link_to "Edit", edit_restaurant_path(@restaurant) %> 
<% else %>
	
<% end %>